<nav class="navbar navbar-light bg-light" class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://th.bing.com/th?id=OIP.d2Uoy0yTEnk6ZaVKNtTUGQHaEz&w=310&h=201&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="30" height="30" class="d-inline-block align-top" alt="">
    EMPLOYEE MANAGEMENT
  </a>
  <br>
  
</nav>
<div class="box" style="padding-left: 450px;padding-right: 450px;">
<div class="card my-5" style="align-items: center;background-image: radial-gradient(rgb(200, 248, 246), rgb(181, 232, 248), rgb(184, 248, 248),rgb(199, 239, 245));background-origin: content-box;background-repeat: no-repeat;background-position: center;
background-position: center;border: 4px solid black;border-radius: 20px;">
    <div class="card-body">
      <h3 style="border:5px;border-style: inset;border-color: rgb(124, 204, 226);padding:10px;font-size: 20px;text-align: center;font-weight: bolder;color:rgb(17, 17, 16);border-radius: 30px;background-color: white;">PASSWORD CHANGE</h3><br>
      <form  #passwordForm="ngForm" >
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0"><h2><i class="bi bi-person-video3"></i>&nbsp;Employee Id</h2> 
              <input input type="id" id="id" name="id" class="form-control form-control-lg" disabled="disabled"
              placeholder="Enter Id" #id="ngModel"[(ngModel)]="employee.id" required  />
            <small class="text-danger">Confirm Your Employee Id</small>
            </div>
          </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0"> <h2><i class="bi bi-eye-slash"></i>&nbsp;Password</h2>
              <input  type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Enter Password" #password="ngModel"[(ngModel)]="employee.password" required [class.is-invalid]="password.invalid || password.untouched" />
            <small class="text-danger"[class.d-none]="password.valid || password.untouched">Password is required field</small>
            </div>
          </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="cpassword"><h2><i class="bi bi-eye-slash-fill"></i>&nbsp;Conform Password</h2></label>
            <input type="password" #cpassword="ngModel" id="cpassword" name="cpassword" [(ngModel)]="employee.password"class="form-control form-control-lg" required [class.is-invalid]=" cpassword.invalid && cpassword.untouched"/>
            <small class="text-danger" [class.d-none]="(cpassword.value!==password.value) || cpassword.untouched">Password and Confirm Password Should be Same</small>
          </div>
        </div>
        <button type="button" [disabled]="!passwordForm.form.valid" 
          class="btn btn-info" (click)="updateEmployee(employee.id)"><i class="bi bi-lock-fill"></i>&nbsp;Change Password</button>&nbsp;
          <button type="button" 
          class="btn btn-danger" (click)="cancel()"><i class="bi bi-x-octagon-fill"></i>&nbsp;Cancel</button>
      </form>
    </div>
  </div><br></div>
  
  <app-footer></app-footer>
