<nav class="navbar navbar-light bg-light" class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://th.bing.com/th?id=OIP.d2Uoy0yTEnk6ZaVKNtTUGQHaEz&w=310&h=201&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="30" height="30" class="d-inline-block align-top" alt="">
    EMPLOYEE MANAGEMENT
  </a>
</nav>
<div class="title" style="padding-left: 400px;padding-right: 400px;padding-top: 10px;"><h3 style="border:5px;border-style: inset;border-color: rgb(236, 245, 155);padding:10px;text-align: center;font-size: 30px;"><i class="bi bi-person-fill-lock"></i>&nbsp;FORGOT PASSWORD</h3>
</div>
<div class="box" style="padding-left:450px;outline:0px;padding-right: 450px;">
<div class="card my-5" style="align-items: center;background-image: radial-gradient(rgb(210, 245, 146), rgb(185, 235, 250), rgb(201, 236, 160),rgb(216, 245, 199));background-origin: content-box;background-repeat: no-repeat;background-position: center;border-radius: 30px;
background-position: center;border:4px solid black">
    <div class="card-body">
      <form  #passwordForm="ngForm" (ngSubmit)="ngOnInit(passwordForm)">
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0"> <h2>Employee Email Id</h2>
              <input input type="emailid" id="emailId" name="emailId" class="form-control form-control-lg" 
              placeholder="Enter Email Id" #emailId="ngModel" [(ngModel)]="employee.emailId" required   />
            <small class="text-danger">Enter Your Employee Email Id</small>
            </div>
          </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0"><h2>Password</h2> 
              <input input type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Enter Password" #password="ngModel"[(ngModel)]="employee.password" required [class.is-invalid]="password.invalid || password.untouched" />
            <small class="text-danger"[class.d-none]="password.valid || password.untouched">Password is required field</small>
            </div>
          </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="cpassword"><h2>Conform Password</h2></label>
            <input type="password" #cpassword="ngModel" id="cpassword" name="cpassword" [(ngModel)]="employee.password"class="form-control" required [class.is-invalid]=" cpassword.invalid && cpassword.untouched"/>
            <small class="text-danger" [class.d-none]="(cpassword.value!==password.value) || cpassword.untouched">Password and Confirm Password Should be Same</small>
          </div>
        </div>
        <button type="submit" [disabled]="!passwordForm.form.valid" 
          class="btn btn-info" ><i class="bi bi-lock-fill"></i>&nbsp;Change Password</button>&nbsp;
          <button type="button" 
          class="btn btn-danger" (click)="cancel()" ><i class="bi bi-x-octagon-fill"></i>&nbsp;Cancel</button>
      </form>
    </div>
  </div>
  </div><br><app-footer></app-footer>